.locationFormcontainer {
	margin: 0;
}

.locationFormInner {
	width: 50%;
}

.locationFormLabel {
	font-weight: bold;
	margin: 1rem 0;
}

.locationFormflex {
	width: 50%;
	margin-bottom: 1.5rem;
}

@media only screen and (max-width: 768px) {
	.locationFormInner {
		width: 100%;
	}
	.locationFormflex {
		width: 100% !important;
		flex: 100% !important;
	}
}